# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# # Import API key

from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Loading in WeatherPY CSV

input_file="../output_data/clean_city_data.csv"


csv=pd.read_csv(input_file)

csv.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cherskiy,68.75,161.30,48.70,76,100,3.67,RU,1596672432
1,Rikitea,-23.12,-134.97,70.54,75,67,9.48,PF,1596672436
2,Yarensk,62.17,49.09,59.41,87,96,6.69,RU,1596672820
3,Punta Arenas,-53.15,-70.92,37.40,74,100,23.04,CL,1596672450
4,Flinders,-34.58,150.86,50.00,46,0,10.29,AU,1596672577

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#Creating necesarry variables for Location and Humidity
locations=csv[["Lat", "Lng"]]
Humidity= csv["Humidity"]

#Define the heatmap parameters
fig=gmaps.figure()

#Create heat layer
heat_layer=gmaps.heatmap_layer(locations, weights=Humidity, dissipating= False, max_intensity=250,
                              point_radius=3)

#Add Layer
fig.add_layer(heat_layer)

#Display the map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Personal preference
    #80> but not higher 90 
    #50< Humidity
    #Lat > 20

temp_df=csv[(csv["Max Temp"]>=80)&(csv["Max Temp"]<90)&(csv["Humidity"]<50)&(csv["Humidity"]>10)&(csv["Cloudiness"]<40)&(csv["Wind Speed"]<15)&(csv["Lat"]<40)]
temp_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
86,Lora del Río,37.66,-5.53,84.20,48,0,6.93,ES,1596672844
204,Jalu,29.03,21.55,84.99,23,0,7.70,LY,1596672879
281,Assiut,27.18,31.18,84.20,45,0,9.17,EG,1596672450
321,Russell,32.35,-85.20,89.60,49,20,2.64,US,1596672629
398,Nizwá,22.93,57.53,89.80,32,1,2.08,OM,1596672935
440,Khuzdar,27.74,66.64,84.45,40,0,4.81,PK,1596672949
505,Ubari,26.59,12.78,84.13,15,0,4.61,LY,1596672588
533,Ţahţā,26.77,31.50,86.00,33,0,6.93,EG,1596672977

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#create df of hotel name, along with city, count, geocod(lat,long)
hotel_df=temp_df[["City","Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Names"]= ""
hotel_df

             City Country    Lat    Lng Hotel Names
86   Lora del Río      ES  37.66  -5.53
204          Jalu      LY  29.03  21.55
281        Assiut      EG  27.18  31.18
321       Russell      US  32.35 -85.20
398         Nizwá      OM  22.93  57.53
440       Khuzdar      PK  27.74  66.64
505         Ubari      LY  26.59  12.78
533         Ţahţā      EG  26.77  31.50

In [6]:
#Define variables
radius=8000
gtype="lodging"

#Making query calls for top Hotel

base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params={"radius": radius, "types": gtype,"key": g_key}



#Using .itterrow()

for index, row in hotel_df.iterrows():
    
    #get city name in each row
    location=row[["Lat","Lng"]].values

    #add a keyword to my params dictionary
    params["location"]=f'{location[0]},{location[1]}'

    #Make a query url and API call
    query_url=requests.get(base_url, params=params).json()
    
    #extract results
    results=query_url['results']
    
    #Add the information into the Hotel Names column
    try:
        hotel_df.loc[index, "Hotel Names"]=results[0]['name']
    except (KeyError, IndexError):
        print("There is a missing field. Skipping...")

In [7]:
hotel_df=hotel_df[hotel_df["Hotel Names"]!= ""]

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Names}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations, info_box_content=hotel_info)


# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))